body {
    transition: background 0.2s linear;
}

body.dark {
    background: var(--background);
}

.container {
    max-width: 900px;
    margin: auto;
    background: var(--background-branco);
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.cabecalho h1 {
    align-items: center;
    margin: 15px;
    text-align: center;
    font-size: 40px;
}

.cabecalho-text {
    text-align: center;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background: var(--background);
    border-radius: 50px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;

    transform: scale(1.5);
}

.label .ball {
    background: var(--background-branco);
    border-radius: 50%;
    position: absolute;
    top: 6px;
    left: 1px;

    height: 24px;
    width: 24px;

    transform: translate(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked+.label .ball {
    transform: translateX(35px);
}

.fa-moon {
    color: var(--moon);
}

.fa-sun {
    color: var(--sun);
}

.headline {
    font-size: 25px;
}

.footer {
    background-color: var(--background);
    padding: 25px;
    text-align: center;
    color: #fff;
}

span {
    color: var(--span);
}